.container {
  @apply mx-auto  max-w-[1140px]! bg-container xl:my-10;
}
.section {
  @apply p-7;
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes borderExpand {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  30% {
    clip-path: inset(0 0 0 0);
  }
  70% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}
/* section heading */
.section-heading {
  @apply text-lg text-white font-medium! mb-6 relative inline-block;
}
.section-heading::after {
  @apply content-[''] absolute h-[3px] w-full top-[30px] left-0 border border-dashed border-secondary;
}

/* button */
.btn {
  @apply px-3 py-2 text-sm cursor-pointer rounded-sm;
}
.btn-primary {
  @apply bg-primary/10 text-primary hover:bg-primary/20 transition;
}
.personal_info {
  @apply flex flex-col  gap-2;
}
.personal_info li {
  @apply text-sm flex gap-4;
}
.personal_info li b {
  @apply font-medium! w-30 block;
}

/* timeline */
.timeline_wrapper {
  @apply border-l-2 border-secondary/20 border-dashed text-sm font-normal pl-4;
}
.timeline_wrapper .timeline_item {
  @apply mb-6 last:mb-0 relative;
}

.timeline_wrapper .timeline_item::after {
  @apply content-[''] absolute left-0 top-0.5 w-2.5 h-2.5 border-2 border-secondary rounded-full -ml-[21px];
}
.timeline_wrapper .timeline_item p {
  @apply leading-5 mb-1;
}
/* form */
.form-control {
  @apply w-full p-2 border border-primary/30 rounded-sm mt-2 focus:outline-none focus:border-primary;
}
