@import "tailwindcss";
@import "./base.css";
@import "./components.css";

@theme {
  --color-body: #151a33;
  --color-container: #1a253f;
  --color-primary: #b85260;
  --color-text: #8997bd;
  --color-heading: #4d79f6;
  --color-dark: #060b1b;
  --font-primary: "IBM Plex Mono", monospace;
}


@keyframes borderExpand {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  30% {
    clip-path: inset(0 0 0 0);
  }
  70% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}
