@import "tailwindcss";
@import "./base.css";
@import "./components.css";

@theme {
  --color-body: #151a33;
  --color-container: #1a253f;
  --color-primary: #4d79f6;
  --color-text: #8997bd;
  --color-secondary: #b85260;
  --color-dark: #060b1b;
  --font-primary: "IBM Plex Sans", sans-serif;
}
